*  {
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
}

body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: color #000; ;
    color: #c0c0c0;
    line-height:1.8 ;
    padding:0 20px ;

}

header  {
    padding:30px 20px ;
    background: color 1a 1a 1a; ;
    text-align:center ;
    border-bottom:2px solid silver ;
}

header h1  {
    font-size: 2.5rem;;
    color: silver;
}

header p {
    font-size: 1.2rem;
    color: #ccc; ;
    margin:10px 0 ;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid silver;
    margin-top: 15px;
}

nav {
    margin-top: 20px;
}

nav a  {
    margin:0 15px ;
    font-size: 1rem;
    font-weight: bold;
    transition:color 0.3s ;
    text-decoration:none ;
    color: silver;
}

nav a:hover {
    color: white;
}

main  {
    margin:40px auto ;
    padding: 20px;
    background-color: #111;
    max-width:100px ;
    border-radius:10px ;
    box-shadow: 0 0 10px #333;
}

section  {
    margin-bottom: 40px;
}

h2  {
    color: #fff;
    border-left: 5px solid silver;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.about-container  {
    gap:20px ;
    flex-wrap:wrap ;
    display: flex;
    align-items:center ;
}

.about-img  {
    max-width:300px ;
    border-radius:10px ;
    border:2px solid silver ;
}

.Skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
.Skills-group {
    background-color: #1a1a1a;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 10px;
}
.Skills-group h3 {
    color: silver;
    margin-bottom: 10px;
}

a {
    color: silver;
}
a:hover {
    color: white;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    border-top: 2px solid silver;
    color: #ccc;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    .profile-pic {
        margin-bottom: 15px;
    }
}


