*  {
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
}

body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: color #000; ;
    color: #c0c0c0;
    line-height:1.8 ;
    padding:0 20px ;

}

header  {
    padding:30px 20px ;
    background: color 1a 1a 1a; ;
    text-align:center ;
    border-bottom:2px solid silver ;
}

header h1  {
    font-size: 2.5rem;;
    color: silver;
}

header p {
    font-size: 1.2rem;
    color: #ccc; ;
    margin:10px 0 ;
}